.form {
  background-color: #8ec16d;
  box-shadow: 0 1px 1px #ccc;
  width: 90%;
  max-width: 400px;
  margin: 80px auto;
}

.form__title {
  color: #fff;
  font-family: 'Train One';
  text-align: center;
  padding: 10px 0;
  margin: 0;
}

.form__currency-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: dimgray;
  padding: 3px;
  font-size: 15px;
}

.form__currency-list_item {
  color: #fff;
  text-align: center;
  font-family: 'Open', 'Sans';
}

.form__currency-list_item:visited {
  background-color: pink;
}

.form__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.form__list-item {
  list-style: none;
  background-color: coral;
  padding: 5px 0;
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-family: 'Open', 'Sans';
  display: flex;
  justify-content: space-around;
}

.form__list-item.active {
  background-color: cornflowerblue;
}

.form__sum {
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border-top: #fff solid 1px;
  margin: 0;
  font-family: 'Open', 'Sans';
  color: #fff;
  display: flex;
  justify-content: space-around;
}
